@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('C:/Windows/Fonts/Montserrat') format('truetype');
  }
  @font-face {
    font-family: 'Syne';
    src: url('C:/Windows/Fonts/Syne') format('truetype');
  }
  @font-face {
    font-family: 'Oswald';
    src: url('C:/Windows/Fonts/Oswald') format('truetype');
  }
  @font-face {
    font-family: 'Dastin';
    src: url('C:/Windows/Fonts/Dastin') format('truetype');
  }
  @font-face {
    font-family: 'CaviarDreams';
    src: url('C:/Windows/Fonts/CaviarDreams') format('truetype');
  } 